---
layout : default
---
<h1>{{site.tagline}}</h1>
<div class="row">
  <div class="span8">
   {{{ content }}}
  </div>
<!--
-->
     <div class="span3">
        <div class="thumbnail">
            <img src="{{urls.media}}/me-thumb.jpeg">
            <div class="caption">
                <p>
                    I'm a independent software developer specialising in Scala & Lift.
                </p>
                <p>
                    Based in Cambridge, UK, working in and around London and the South East.
                </p>
                <p>
                    Contact: <br /> tech [at] damianhelme.com.
                </p>
                <p>
                <a href="/about">more ...</a>
                </p>
            </div>
        </div>
        <a href="/archive">Blog Archive</a>
    </div>
</div>
